@model StudentCRUDApp.Models.Student

<form asp-action="Edit" method="post">
    <div>
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div>
        <label>Age</label>
        <input asp-for="Age" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-2">Save</button>
</form>