@* @model TrainingCentreManagement.Models.Trainer

<h2>Trainer Details</h2>

<p><b>Name:</b> @Model.TrainerName</p>
<p><b>Email:</b> @Model.Email</p>
<p><b>Phone:</b> @Model.Phone</p>
<p><b>Expertise:</b> @Model.Expertise</p>

<a asp-action="Index" asp-controller="Trainer" class="btn btn-primary">Back</a> *@