@model TrainingCentreManagement.Models.Trainer

<h2>Edit Trainer</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="TrainerId" />

    <div>

        <label>Trainer Name</label>
        <br />
        <input asp-for="TrainerName" />

    </div>

    <br />

    <div>

        <label>Email</label>
        <br />
        <input asp-for="Email" />

    </div>

    <br />

    <div>

        <label>Phone</label>
        <br />
        <input asp-for="Phone" />

    </div>

    <br />

    <div>

        <label>Expertise</label>
        <br />
        <input asp-for="Expertise" />

    </div>

    <br />

    <button type="submit">Update</button>

</form>

<br />

<a asp-controller="Trainer" asp-action="Index">Back to List</a>