<h2>Student Dashboard</h2>
<h4>Welcome Student! Stay updated with your courses, training schedule, and attendance from your personal dashboard.</h4>
<hr >

<ul>

    <li>
        <a href="/StudentPanel/MyCourse">My Course</a>
    </li>

    <li>
        <a href="/StudentPanel/MySchedule">My Schedule</a>
    </li>

    <li>
        <a href="/StudentPanel/MyAttendance">My Attendance</a>
    </li>

</ul>
<hr/>
<div>
    <a href="/Account/Logout">Logout</a>
</div>