<h2>Trainer Dashboard</h2>
<h4>Welcome Trainer! View students, follow the training schedule, and mark attendance easily.</h4>

<hr >

<ul>

    <li>
        <a href="/TrainerPanel/Students">View Students</a>
    </li>

    <li>
        <a href="/TrainerPanel/MySchedule">Schedule</a>
    </li>

    <li>
        <a href="/TrainerPanel/MyBatche">Batches</a>
    </li>

    <li>
        <a href="/TrainerPanel/AttendanceList">View Attendance</a>
    </li>

    <li>
        <a href="/TrainerPanel/MarkAttendance">Mark Attendance</a>
    </li>

</ul>

<hr/>
<div>
    <a href="/Account/Logout">Logout</a>
</div>