@model ProductInventoryApp.Models.Product

<form asp-action="Create" method="post">

    <div>
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div>
        <label>Category</label>
        <input asp-for="Category" class="form-control" />
    </div>

    <div>
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div>
        <label>Quantity</label>
        <input asp-for="Quantity" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-2">Save</button>

</form>