@model TrainingCentreManagement.Models.Attendance

<h2>Mark Attendance</h2>

<form asp-action="MarkAttendance">

    Student Id
    <input asp-for="StudentId" />

    <br><br>

    Batch Id
    <input asp-for="BatchId" />

    <br><br>

    Date
    <input asp-for="Date" type="date" />

    <br><br>

    Status
    <select asp-for="Status">

        <option>Present</option>
        <option>Absent</option>

    </select>

    <br><br>

    <button type="submit">Save</button>

</form>